psutil
pygame
pillow
tkinterdnd2
wheel
playsound
PyQt5
PyQtWebEngine
matplotlib
pyinstaller
pyautogui
ar
beautifulsoup4 
requests
markdown
customtkinter
cryptography
pytest
keyring
bleach
email-validator